body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1em;
  padding: 0.5em;
  background-color: rgb(31, 30, 30);
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-grow: 0;
  padding: 0.5em;
  max-height: 100px;
  height: 5vh;
  width: 98vw;
  margin-left: 2vw;
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(78, 71, 71);
}

.main {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 98vw;
  height: 90vh;
  margin-left: 1vw;
  background-color: rgba(46, 44, 44, 0.815);
  border-radius: 15px;
}

.leftsidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 0.5em;
  width: 20%;
  max-width: 500px;
  background-color: rgba(45, 48, 250, 0.89);
}

.cuntent {
  display: flex;
  flex-direction: column;
  width: 100%;

}