body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(32, 32, 32, 0.1);
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 2em;
  height: 5vh;
  width: 98vw;
  margin-left: 1vw;
  border-radius: 1em;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(48, 48, 48, 0.1);
}

.main {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 98vw;
  height: 90vh;
  margin-left: 1vw;
  background-color: rgba(48, 48, 48, 0.7);
}

.leftsidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-width: 500px;
}

.cuntent {
  display: flex;
  flex-direction: column;
}